<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <img src="/images/logo-etec.jpg" alt="" style="width: 200px; height: auto;">
      </div>

      <div class="col d-flex flex-column align-items-center">
        <div>
          <i class="fa-solid fa-school" style="margin-right: 8px;"></i>
          <a href="https://www.cps.sp.gov.br/etec/">Etec</a>
        </div>
        <div style="margin-top: 10px;">
          <i class="fa-solid fa-building" style="margin-right: 8px;"></i>
          <a href="https://www.cps.sp.gov.br">CPS</a>
        </div>
      </div>
    </div>
  </div>
</footer>
