<div class="container mt-5">
    <h1 class="text-center">Quem Somos?</h1>

    <!-- Linha principal com colunas para as imagens e o vídeo -->
    <div class="row mt-4">
      <!-- Coluna da esquerda com as imagens em coluna -->
      <div class="col-4 d-flex flex-column align-items-center">
        <img src="/images/logo_cps_estado.png" alt="Logo CPS Estado" style="width: 500px; height: auto; margin-bottom: 20px;">
        <img src="/images/logo-etec.jpg" alt="Logo ETEC" style="width: 200px; height: auto;">
      </div>

      <!-- Coluna da direita com o vídeo -->
      <div class="col-8">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/ByDnuViGzd4?si=iQMRKW-dbS-MfzUm"
          title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
          gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>

